:root {
  --color-gray-light: #e1e4e1;
  --color-gray: #757575;
  --color-text: rgb(66, 61, 61);
  --color-muted: rgb(164, 158, 158);
  --color-primary: rgb(88, 179, 96);
}

html {
  font-family: 'Signika', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 220;
  color: var(--color-text);
  margin: 20px;
}

h1 {
  letter-spacing: 2px;
  line-height: 1;
}

strong {
  font-weight: 800;
}

a {
  color: var(--color-text);
}

iframe {
  width: 100%;
  border: none;
  aspect-ratio: 16 / 9;
  margin: 0 0 3em;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
  line-height: 1.7;
  border-left: 5px solid var(--color-primary);
  padding-left: 30px;;
}

table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  
  overflow-x: auto;

  td, th:not(:empty) {
    padding: .5em;
    
    &:first-child {
      padding-left: 0;
    }
  }

  tr:not(:last-child) td,
  th:not(:empty) {
    border-bottom: 1px solid var(--color-gray-light);
  }
}

code {
  font-size: 18px !important;
}