.post {
  max-width: 900px;
  margin: 0 auto;

  p {
    margin-bottom: 2em;
  }

  *:not(.title-wrapper) h3 {
    margin-top: 3em;
  }

  h3 {
    color: var(--color-primary);
  }

  p + h3 {
    margin-block-start: 3em;
  }

  table + h4,
  p + h4 {
    margin-block-start: 2em;
  }

  h4 {
    font-style: italic;
    color: var(--color-gray);

    &::first-letter {
      margin-inline-end: 14px;
      display: block;
      padding: 10px 15px;
      background: var(--color-gray-light);
      border-radius: 50%;;
      color: var(--color-primary);
    }
  }

  @media screen and (min-width: 960px) {
    h4 {
      margin-inline-start: -3em;
    }
  }
}