<!DOCTYPE html>
<html>
{{> head }}
<body>
  <h1 class="title"><span>Daniel Beeke's blog</span></h1>

  {{#each posts }}
    <a class="post teaser" href="{{ path }}"> 
      <span class="date">{{ date }}</span>
      <h3 class="title">{{ title }}</h3>
    </a>
  {{/each}}

</body>
</html>