<!DOCTYPE html>
<html>
{{> head }}
  <body>
    <article class="post full">
      <div class="title-wrapper">
        {{#if serie}}
          <h2 class="serie"><span class="serie-tag">serie</span>{{ serie }}</h2>
        {{/if}}
        <h1 class="title"><span>{{ title }}</span></h1>
      </div>
      {{{ contents }}}
    </article>
  </body>
</html>