@import url("https://fonts.googleapis.com/css?family=Changa+One&family=Signika:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");
:root {
  --color-gray-light: #e1e4e1;
  --color-gray: #757575;
  --color-text: rgb(66, 61, 61);
  --color-muted: rgb(164, 158, 158);
  --color-primary: rgb(88, 179, 96);
}

html {
  font-family: "Signika", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 220;
  color: var(--color-text);
  margin: 20px;
}

h1 {
  letter-spacing: 2px;
  line-height: 1;
}

strong {
  font-weight: 800;
}

a {
  color: var(--color-text);
}

iframe {
  width: 100%;
  border: none;
  aspect-ratio: 16/9;
  margin: 0 0 3em;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
  line-height: 1.7;
  border-left: 5px solid var(--color-primary);
  padding-left: 30px;
}

table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  overflow-x: auto;
}
table td, table th:not(:empty) {
  padding: 0.5em;
}
table td:first-child, table th:not(:empty):first-child {
  padding-left: 0;
}
table tr:not(:last-child) td,
table th:not(:empty) {
  border-bottom: 1px solid var(--color-gray-light);
}

code {
  font-size: 18px !important;
}

.post {
  max-width: 900px;
  margin: 0 auto;
}
.post p {
  margin-bottom: 2em;
}
.post *:not(.title-wrapper) h3 {
  margin-top: 3em;
}
.post h3 {
  color: var(--color-primary);
}
.post p + h3 {
  margin-block-start: 3em;
}
.post table + h4,
.post p + h4 {
  margin-block-start: 2em;
}
.post h4 {
  font-style: italic;
  color: var(--color-gray);
}
.post h4::first-letter {
  margin-inline-end: 14px;
  display: block;
  padding: 10px 15px;
  background: var(--color-gray-light);
  border-radius: 50%;
  color: var(--color-primary);
}
@media screen and (min-width: 960px) {
  .post h4 {
    margin-inline-start: -3em;
  }
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: 3em;
}
.title-wrapper .title {
  margin: 0;
}
.title-wrapper .title span {
  font-size: 2em;
  font-family: "Changa One", sans-serif;
  background-size: 1px 1em;
  box-shadow: inset 0 -5px white, inset 0 -15px var(--color-primary);
  display: inline;
}

.serie {
  display: inline;
  margin-bottom: 1em;
}

.serie-tag {
  color: white;
  border-radius: 10px;
  font-size: 0.7em;
  padding: 0 4px 0 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-right: 20px;
  display: block;
  float: left;
  position: relative;
  top: 7px;
  background-color: var(--color-muted);
}

@media screen and (min-width: 960px) {
  .title-wrapper {
    min-height: calc(100vh - 160px);
  }
  .title-wrapper .title span {
    font-size: 4.5em;
    box-shadow: inset 0 -15px white, inset 0 -45px var(--color-primary);
  }
}